.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.App-intro {
  font-size: large;
}
body { 
  background-image: url('./img/Pokemon-BG.jpg');
  background-attachment: fixed;
  background-size: auto;
}
.display-none{
  display: none;
}

.dont-link:focus{
  outline: none;
  color: black;
}
.dont-link:link {
  text-decoration: none;
  color: black;
}
.dont-link:visited {
  text-decoration: none;
  color: black;
}
.dont-link:hover {
  text-decoration: none;
  color: black;
}

.dont-link:active {
  text-decoration: none;
  color: black;
}

.grid-title {
  grid-area: header;
  padding:5px;
}
.grid-explanation{
  grid-area: top;
  padding-bottom: 20px;
  

}
.grid-main {
  grid-area: main;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 
    "top  top"
    "left right";
  padding-left: 10%;
  padding-right:10%;
}
.grid-sidebar {
  grid-area: sidebar;
}
.grid-footer {
  grid-area: footer;
  background-image: url('./img/footer.png');
  width:100%;
}
.footer{
    background-position: top left;
    background-repeat: no-repeat;
    border-top: 0;
    background-size: 100% 100%;
    padding-top: 0;
    padding-bottom: 0;
  
  
}
.grid-left {
  grid-area: left;
}
.grid-right {
  grid-area: right;
}
.grid-types{
  text-align: center;
  display: grid;
  grid-template-areas: "a a a a a";
  grid-gap: 10px;
  justify-content: center;
  
}
.main-grid-container {
  display: grid;
  grid-template-columns: 10% 26% 27% 27% 10%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header   header   header      header     header"
    "main   main     main        main       main"
    "main  main     main        main       main"
    "footer   footer   footer      footer     footer";
}

.pkmn-button {
  background-image: url('./img/pkmn-btn.png');
  background-position: center;
  background-size: cover;
  border-color: rgb(92,92,92);
  border-radius: 50%;
  border-width: 3px;
  height:32px;
  width:32px;
  
}
.pkmn-button:focus {
  outline:none;
}
.search{
  border-radius: 5px;
}
.Sprite{
  background-image: url('./img/btl-crcl.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 90%;
  background-size: 50% 50%;
}
.title{
  font-family: 'Pokemon';
  text-align: center;
  font-size: 50px;
  color: yellow;
  text-shadow: 2px 2px 0px  blue, -2px -2px 0px  blue, 2px -2px 0px  blue, -2px 2px 0px  blue;
  padding-bottom: 10px;
}
.Explanation{
  
  padding: 10px 30px 5px 30px;
  background-image: url("./img/Cloud-sides.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}
.Explanation-top{
  background-image: url("./img/Cloud-top.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: rgba(229,228,249,0);
  padding: 12px;
}
.Explanation-bottom{
  background-image: url("./img/Cloud-bottom.png");
  background-repeat: no-repeat;
  background-size: 100% 10%;
  color: rgba(229,228,249,0);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@font-face {
  font-family: 'Pokemon';
  src: url('./fonts/pokemon/Pokemon-Solid.ttf');
}
/*
Pokémon Logo Yellow
Hex: #ffcb05
RGB: 255, 203, 5
Pokémon Logo Light Blue
Hex: #2a75bb
RGB: 42, 117, 187
Pokémon Logo Yellow Shadow
Hex: #c7a008
RGB: 199, 160, 8
Pokémon Logo Dark Blue
Hex: #3c5aa6
RGB: 60, 90, 166


*/